<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CafetariaWebsite</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormInputServlet</display-name>
    <servlet-name>FormInputServlet</servlet-name>
    <servlet-class>com.cafe.controller.FormInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormInputServlet</servlet-name>
    <url-pattern>/InputServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockGenerateReport</display-name>
    <servlet-name>StockGenerateReport</servlet-name>
    <servlet-class>com.cafe.controller.StockGenerateReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockGenerateReport</servlet-name>
    <url-pattern>/StockGenerateReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockTakeOut</display-name>
    <servlet-name>StockTakeOut</servlet-name>
    <servlet-class>com.cafe.controller.StockTakeOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockTakeOut</servlet-name>
    <url-pattern>/StockTakeOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DisplayMenuController</display-name>
    <servlet-name>DisplayMenuController</servlet-name>
    <servlet-class>com.cafe.controller.DisplayMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayMenuController</servlet-name>
    <url-pattern>/DisplayMenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AllStock</display-name>
    <servlet-name>AllStock</servlet-name>
    <servlet-class>com.cafe.controller.AllStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllStock</servlet-name>
    <url-pattern>/AllStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonthlyExpenseController</display-name>
    <servlet-name>MonthlyExpenseController</servlet-name>
    <servlet-class>com.cafe.controller.MonthlyExpenseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthlyExpenseController</servlet-name>
    <url-pattern>/MonthlyExpenseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockByCategory</display-name>
    <servlet-name>StockByCategory</servlet-name>
    <servlet-class>com.cafe.controller.StockByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockByCategory</servlet-name>
    <url-pattern>/StockByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockByCategoryResult</display-name>
    <servlet-name>StockByCategoryResult</servlet-name>
    <servlet-class>com.cafe.controller.StockByCategoryResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockByCategoryResult</servlet-name>
    <url-pattern>/StockByCategoryResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOnAddController</display-name>
    <servlet-name>AddOnAddController</servlet-name>
    <servlet-class>com.cafe.controller.AddOnAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOnAddController</servlet-name>
    <url-pattern>/AddOnAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptFood</display-name>
    <servlet-name>OptFood</servlet-name>
    <servlet-class>com.cafe.controller.OptFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptFood</servlet-name>
    <url-pattern>/OptFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptingFood</display-name>
    <servlet-name>OptingFood</servlet-name>
    <servlet-class>com.cafe.controller.OptingFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptingFood</servlet-name>
    <url-pattern>/OptingFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.cafe.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockUpdate1</display-name>
    <servlet-name>StockUpdate1</servlet-name>
    <servlet-class>com.cafe.controller.StockUpdate1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockUpdate1</servlet-name>
    <url-pattern>/StockUpdate1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockUpdate2</display-name>
    <servlet-name>StockUpdate2</servlet-name>
    <servlet-class>com.cafe.controller.StockUpdate2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockUpdate2</servlet-name>
    <url-pattern>/StockUpdate2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockUpdate3</display-name>
    <servlet-name>StockUpdate3</servlet-name>
    <servlet-class>com.cafe.controller.StockUpdate3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockUpdate3</servlet-name>
    <url-pattern>/StockUpdate3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOns</display-name>
    <servlet-name>AddOns</servlet-name>
    <servlet-class>com.cafe.controller.AddOns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOns</servlet-name>
    <url-pattern>/AddOns</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.cafe.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllStockForStockTakeOut</display-name>
    <servlet-name>ViewAllStockForStockTakeOut</servlet-name>
    <servlet-class>com.cafe.controller.ViewAllStockForStockTakeOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllStockForStockTakeOut</servlet-name>
    <url-pattern>/ViewAllStockForStockTakeOut</url-pattern>
  </servlet-mapping>
</web-app>